@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  transition: background-color 0.5s ease, color 0.5s ease;
}
:root {
  --color-background: #ffffff;
  --color-text: #000000;
  --color-primary: #2563EB;
  --color-secondary: #9333EA;
  --color-accent: #F59E0B;
}

.dark {
  --color-background: #111827;
  --color-text: #F3F4F6;
  --color-primary: #2563EB;
  --color-secondary: #9333EA;
  --color-accent: #F59E0B;
}
